<%- include('./_layout/header') -%>

<div class="container-fluid my_accent text-dark p-2 my-4 rounded">
    <div class="container my_accent p-5">
        <h1><%= title %></h1>
        <p><%= jumbotron_info %></p>
        <a class="btn btn-primary btn-lg" href="#" role="button">learn more</a>
    </div>
</div>

<%- include('./_layout/shop-items') -%>

<%- include('./_layout/footer') -%>
